*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
}
body{
    font-family: 'Karla', sans-serif;
    /* background-color:  #1B1A17; */
}
.contenedor{
    max-width: 90%;
    margin: 1rem auto;
    padding: 30px 0;
    overflow: hidden;
}
.logo{
    max-height: 200px;
    max-width: 200px;
}
.header img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.nav a{
    color: #1B1A17;
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
    text-decoration: none;
}
.perfil{
    background-image: url(https://cdn.pixabay.com/photo/2017/10/31/19/05/web-design-2906159_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px 10%;
    gap: 3em;
}
.perfil div img{
    max-width: 100px;
    max-height: 100px;
}
.certificado img {
    width: 100px;
    height: 100px;
    padding: 10px;
} 
.skill img{
    margin: auto;
    width: 100px;
    height: 100px;
}
.social-media{
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}
.social-media a{
    font-weight: 700;
    font-size: 18px;
    display: flex;
    flex-direction: row;
}
.icon{
    height: 22px;
    width: 20px;
    margin: 0 20px 0 5px;
}
